body {
    font-family: Arial, sans-serif;
}
.section {
    border: 3px solid #000000;
    border-radius: 10px;
    border-width: 3px;
    padding: 20px;
    margin: 20px;
    width: 300px;
}
#section1 {
    background-color: #e6a2a2;
    color: #600000;
}
#section2 {
    background-color: #a2c4e6;
    color: #004080;
}
#section3 {
    background-color: #a2e6c4;
    color: #00663d;
}