    body {
    margin: 0;
  }
  
  .column-1 {
    float: left;
    width: 30%;
    padding: 15px;
  }
  
  .column-2 {
    float: left;
    width: 70%;
    padding: 15px;
  }
    
  @media screen and (max-width: 600px) {
    .column-1 {
      width: 100%;
    }
    .column-2 {
      width: 100%;
    }
  }