body {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-size: 24px;
}

input {
    color: white;
    box-shadow: 5px lightgrey;
    background-color: #fa6533;
    width: 20vw;
    padding: 10px;
    font-size: 18px
}

select {
    color: white;
    box-shadow: 5px lightgrey;
    background-color: #fa6533;
    width: 20vw;
    padding: 10px;
    font-size: 18px
}

button {
    color: white;
    box-shadow: 5px lightgrey;
    background-color: #fa6533;
    width: 20vw;
    padding: 10px;
    font-size: 18px
}