body {
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    width: 50vw;
    box-shadow: 0 5 5 0px lightgray;
    border-radius: 15px;
    padding: 4px;
    margin: 5px;
    text-indent: 5px;
}

.center {
    text-align: center;
}

.label {
    font-size: 18px;
    font-style: bold;
}