body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

fieldset {
    font-size: 18px;
    text-align: left;
    width: 20vw;
}

input {
    box-shadow: 2px lightgrey;
    width: 20vw;
    padding: 10px;
    font-size: 18px
}

button {
    box-shadow: 2px lightgrey;
    width: 20vw;
    padding: 10px;
    font-size: 18px
}