body {
font-family: Arial, Helvetica, sans-serif;
color: #00283c;
font-size: 16px;
}

h1 {
margin: 0;
padding: 0;
font-size: 32px;
color: #fa6432;
}

h2 {
margin: 0;
padding: 10px 0 0 0;
font-size: 24px;
color: #00283c
}

.resize1{
width: 200px;
margin: 20px;
}

.hl1:hover {
color: #fa6432;
}

.hl1 {
text-decoration: underline;
}
